<%= form_with(model: [:admin, site], local: true) do |form| %>
  <% if site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% site.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :area %>
    <%= form.number_field :area %>
  </div>

  <div class="field">
    <%= form.label :built %>
    <%= form.check_box :built %>
  </div>

  <div class="field">
    <%= form.label :registered %>
    <%= form.check_box :registered %>
  </div>

  <div class="field">
    <%= form.label :basement %>
    <%= form.check_box :basement %>
  </div>

  <div class="field">
    <%= form.label :cars_count %>
    <%= form.number_field :cars_count %>
  </div>

  <div class="field">
    <%= form.label :electricity %>
    <%= form.check_box :electricity %>
  </div>

  <div class="field">
    <%= form.label :electricity_counter_name %>
    <%= form.text_field :electricity_counter_name %>
  </div>

  <div class="field">
    <%= form.label :electricity_counter_expiration_date %>
    <%= form.date_select :electricity_counter_expiration_date %>
  </div>

  <div class="field">
    <%= form.label :rented %>
    <%= form.check_box :rented %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
