<p>
  <strong>Name:</strong>
  <%= @site.name %>
</p>

<p>
  <strong>Area:</strong>
  <%= @site.area %>
</p>

<p>
  <strong>Built:</strong>
  <%= @site.built %>
</p>

<p>
  <strong>Registered:</strong>
  <%= @site.registered %>
</p>

<p>
  <strong>Basement:</strong>
  <%= @site.basement %>
</p>

<p>
  <strong>Cars count:</strong>
  <%= @site.cars_count %>
</p>

<p>
  <strong>Electricity:</strong>
  <%= @site.electricity %>
</p>

<p>
  <strong>Electricity counter name:</strong>
  <%= @site.electricity_counter_name %>
</p>

<p>
  <strong>Electricity counter expiration date:</strong>
  <%= @site.electricity_counter_expiration_date %>
</p>

<p>
  <strong>Rented:</strong>
  <%= @site.rented %>
</p>

<%= link_to t(:edit), edit_admin_site_path(@site) %> |
<%= link_to t(:back), admin_sites_path %>
